/* h1 설정! */
@font-face {
    src: url("../fonts/스포카_ttf.ttf");
    font-family: "DH";
}
/* h2font */
@font-face {
    src: url("../fonts/한나11_ttf.ttf");
    font-family: "HN";
}

@media screen and (min-width:960px) and (max-width:1920px) {
}

#DH_font {
    font-family:"DH";
}
#HN_font {
    font-family:"HN";
}

.mainback {
    position: relative;
}
/* 본문-유진 */
body {
height: 100%;
}

body {
background: #2e3133;
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 14px;
color: #000;
margin: 0;
padding: 0;
}

.swiper {
width: 100%;
padding-top: 50px;
padding-bottom: 50px;
}

.swiper-slide {
background-position: center;
background-size: cover;
width: 1200px;
height: 100%;
}

.swiper-slide img {
display: block;
width: 100%;
}

.movie_image {
    width: 100%;
    height: 100%;
}

/* 아진 */

swiper-container {
width: 800px;
height:350px;
margin: 0px auto;
margin-bottom: 80px;
max-width: 100%;
    height: auto;
}
swiper-slide img {
display: block;
width: 240px;
height: 300px;
object-fit: cover;
margin-top: 50px;
}

h1 {
    text-align: center;
    color:white;
    font-size: 30px;
    margin-top: 40px;
}

h2 {
    text-align: center;
    color: lightpink;
    font-size: 30px;
}


/* 세영 - 푸터 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
line-height: 1.5;
font-family: 'Poppins', sans-serif;
}

*{
margin:0;
padding:0;
box-sizing: border-box;
}

.container{
max-width: 1170px;
margin:auto;
}

.row{
display: flex;
flex-wrap: wrap;
}

ul{
list-style: none;
}

.footer{
background-color: #2e3133;
padding: 70px 0;
}

.footer-col{
width: 25%;
padding: 0 15px;
}

.footer-col h4{
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}

.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: #e91e63;
height: 2px;
box-sizing: border-box;
width: 50px;
}

.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}

.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}

.footer-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}

.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}

.footer-m h4{
font-size: 14px;
color: #bbbbbb;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
text-align: center;
margin-top: 30px;
}

/*responsive*/
@media(max-width: 767px){
.footer-col{
width: 50%;
margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col{
width: 100%;
}
}

/* 스크롤바 디자인 변경 */
/* width */
::-webkit-scrollbar {
width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #2e3133;
border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(159, 89, 100);
border-radius: 7px;
}